################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/poke_card/.vs/poke_card/v15/Browse.VC.db
